<?xml version='1.0' encoding='utf-8'?>
<robot name="dual_scorpion_right">
  <link name="base_link">
    <inertial>
      <mass value="0.00166433" />
      <origin xyz="0.00273527 0.000514622 0.2002" rpy="0 -0 0" />
      <inertia ixx="7.05433e-05" ixy="-5.34831e-09" ixz="-1.25577e-06" iyy="0.000103998" iyz="-2.36418e-07" izz="3.62521e-05" />
    </inertial>
  </link>
  <link name="right_link_1">
    <inertial>
      <mass value="6.81805e-05" />
      <origin xyz="0.0276923 0.000184203 -0.0352935" rpy="0 -0 0" />
      <inertia ixx="2.33205e-08" ixy="5.08562e-11" ixz="4.67906e-09" iyy="4.04588e-08" iyz="1.4143e-11" izz="2.65882e-08" />
    </inertial>
  </link>
  <joint name="joint0" type="revolute">
    <origin xyz="-0.277418 0.00138639 0.393411" rpy="-2.27782e-07 -0.0119469 2.72121e-09" />
    <!-- Axis flipped: joint0 was rotating the wrong way on the right arm. -->
    <axis xyz="-1 0 0" />
    <parent link="base_link" />
    <child link="right_link_1" />
    <limit effort="1" velocity="1" lower="-1.41372" upper="1.50098" />
  </joint>
  <link name="right_link_2">
    <inertial>
      <mass value="6.51728e-05" />
      <origin xyz="-0.00042288 -0.00438565 -0.0344568" rpy="0 -0 0" />
      <inertia ixx="2.93177e-08" ixy="-9.50406e-11" ixz="3.84639e-11" iyy="3.41703e-08" iyz="-1.46217e-10" izz="1.48858e-08" />
    </inertial>
  </link>
  <joint name="joint1" type="revolute">
    <origin xyz="0.0199967 2.95597e-15 -0.061" rpy="-1.19112e-22 -2.60209e-18 -1.36056e-09" />
    <!-- Axis flipped: joint1 was rotating the wrong way on the right arm. -->
    <axis xyz="0 0 -1" />
    <parent link="right_link_1" />
    <child link="right_link_2" />
    <limit effort="1" velocity="1" lower="-3.05433" upper="3.05433" />
  </joint>
  <link name="right_link_3">
    <inertial>
      <mass value="0.000129163" />
      <origin xyz="-0.0198183 -0.001221 -0.0746288" rpy="2.27757e-07 -0 0" />
      <inertia ixx="2.11781e-07" ixy="8.61386e-11" ixz="2.27034e-09" iyy="2.4118e-07" iyz="-7.8369e-09" izz="4.30491e-08" />
    </inertial>
  </link>
  <joint name="joint2" type="revolute">
    <origin xyz="0.0183109 -0.00307479 -0.060508" rpy="-4.46e-17 -1.58727e-16 1.38777e-17" />
    <!-- Axis flipped: joint2 was rotating the wrong way on the right arm. -->
    <axis xyz="1 0 0" />
    <parent link="right_link_2" />
    <child link="right_link_3" />
    <limit effort="1" velocity="1" lower="-2.09439" upper="1.74533" />
  </joint>
  <link name="right_link_4">
    <inertial>
      <mass value="6.81805e-05" />
      <origin xyz="0.0276923 0.000184203 -0.0352935" rpy="0 -0 0" />
      <inertia ixx="2.33205e-08" ixy="5.08562e-11" ixz="4.67906e-09" iyy="4.04588e-08" iyz="1.4143e-11" izz="2.65882e-08" />
    </inertial>
  </link>
  <joint name="joint3" type="revolute">
    <origin xyz="-0.0377 -0.00519997 -0.1348" rpy="-1.5708 3.84241e-16 -1.20677e-16" />
    <axis xyz="1 0 0" />
    <parent link="right_link_3" />
    <child link="right_link_4" />
    <limit effort="1" velocity="1" lower="-0.349066" upper="3.31613" />
  </joint>
  <link name="right_link_5">
    <inertial>
      <mass value="6.51728e-05" />
      <origin xyz="-0.000370457 -0.00439039 -0.0344568" rpy="0 -0 0.0119469" />
      <inertia ixx="2.93207e-08" ixy="-1.52981e-10" ixz="4.02087e-11" iyy="3.41673e-08" iyz="-1.45747e-10" izz="1.48858e-08" />
    </inertial>
  </link>
  <joint name="joint4" type="revolute">
    <origin xyz="0.0199967 2.91434e-15 -0.061" rpy="6.02058e-17 1.65148e-18 1.73472e-18" />
    <axis xyz="0 0 1" />
    <parent link="right_link_4" />
    <child link="right_link_5" />
    <limit effort="1" velocity="1" lower="-2.97901" upper="2.95511" />
  </joint>
  <link name="right_link_6">
    <inertial>
      <mass value="6.81805e-05" />
      <origin xyz="-0.0125077 0.000184203 -0.0352935" rpy="0 -0 0" />
      <inertia ixx="2.33205e-08" ixy="5.08551e-11" ixz="4.67906e-09" iyy="4.04588e-08" iyz="1.41433e-11" izz="2.65882e-08" />
    </inertial>
  </link>
  <joint name="joint5" type="revolute">
    <origin xyz="0.0183464 -0.00285582 -0.060508" rpy="8.12663e-12 -7.31558e-26 0.0119469" />
    <axis xyz="-1 0 0" />
    <parent link="right_link_5" />
    <child link="right_link_6" />
    <limit effort="1" velocity="1" lower="-2.0944" upper="1.74533" />
  </joint>
  <link name="right_link_7">
    <inertial>
      <mass value="9.28112e-05" />
      <origin xyz="-0.00574682 0.000295823 -0.0266677" rpy="0 -0 0" />
      <inertia ixx="4.24859e-08" ixy="-5.68162e-10" ixz="-9.38597e-09" iyy="6.0266e-08" iyz="-1.15687e-10" izz="4.01834e-08" />
    </inertial>
  </link>
  <joint name="joint6" type="revolute">
    <origin xyz="-0.0202033 2.91434e-15 -0.061" rpy="-2.8453e-31 -9.56554e-42 -4.62593e-18" />
    <axis xyz="0 0 1" />
    <parent link="right_link_6" />
    <child link="right_link_7" />
    <limit effort="1" velocity="1" lower="-2.96706" upper="2.96706" />
  </joint>
  <link name="right_gripper_link">
    <inertial>
      <mass value="2.06928e-05" />
      <origin xyz="-0.00157468 0.0186244 -0.0300229" rpy="0 -0 0" />
      <inertia ixx="1.14047e-08" ixy="1.01887e-11" ixz="-5.51272e-10" iyy="9.1165e-09" iyz="1.89573e-10" izz="3.25975e-09" />
    </inertial>
  </link>
  <joint name="gripper" type="revolute">
    <origin xyz="0.0202033 -0.0181 -0.0234" rpy="9.95431e-26 1.36046e-09 4.62593e-18" />
    <axis xyz="0 1 0" />
    <parent link="right_link_7" />
    <child link="right_gripper_link" />
    <limit effort="1" velocity="1" lower="-1.91986" upper="0.174533" />
  </joint>
  <link name="tcp_link">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7" />
    </inertial>
  </link>
  <joint name="tcp_fixed" type="fixed">
    <origin xyz="0.019053 0.000900 -0.105400" rpy="0 0 0" />
    <parent link="right_link_7" />
    <child link="tcp_link" />
  </joint>
</robot>